$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$solar-back: #CDCB80 ;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

  padding-top: 50px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*
 * Global add-ons
 */
/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

#character {

  .badge { float:right;}

  .mote {
      width: 24px;
      height: 24px;
      padding: 0;
      display: inline;
  }

  dd .mote {
      width: 18px;
      height: 18px;
      display: inline;
  }

  .mote-solar, .solar {
      color: #CDB11F;
  }
  .mote-empty {
      opacity: 25%;
      color: #ccc;
  }

  span.mote-empty {
      color: #646464;
      opacity: 100%;
  }

  /* dark yellow: CDB11F
      light yellow:  CDCB80
  */

  .panel-title {
      
      color: #333 ;
      text-shadow:
      -1px -1px 0 #CDCB80,
      1px -1px 0 #CDCB80,
      -1px 1px 0 #CDCB80,
      1px 1px 0 #CDCB80;

      text-transform: uppercase;
  }

  .panel-heading {
      background-color: $solar-back !important;
  }

  .list-heading {
    background-color: lighten($solar-back, 15%) !important;
    padding: 3px;
    text-align: center;
    text-transform: capitalize;
    list-style: none;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
  }

  .list-heading h4 {
    padding: 3px;
    margin: 3px;
  }

  /* Popup heading zap-around navigator */
  .navigator {
      background-color: #A4A821; 
      z-index: 10;
  }

  .navigator a {
      color: #FFF425;
  }

  .navicon { color: #FFF425; }

  .list-group { min-width: 185px;}
  .list-group-item {
    padding: 5px 10px;
  }

  .list-group .ability-list{
    max-width: 260px;
  }



  .favored {
    /* font-style:italic; */
    font-weight: bold;
  }

  .excellency {
    background-color: #ccc;
    color: #333;
    font-weight: normal;
    font-size:smaller;
  }

  .stat {
    font-variant: normal;
    text-transform: capitalize;
    font-style: normal; 
  }

  .ability {
    text-transform: capitalize;

  }

  .specialty {
    font-size: 12px;
    font-style: italic;
    margin: 0 8px; 

  }

  .widget {
    color: #515151;
  }

  .darkblackshadow {
    text-shadow: 1px 1px 3px black;
  }

  .label-aggravated {
    @extend .label-default;
    background-color: black;
    border-color: black;
    min-width:30px ;
    display: inline-block;
  }

  .label-lethal {
    @extend .label-default;
    background-color: #740014;
    min-width:28px;
    display: inline-block;
  }

  .label-bashing {
    @extend .label-default;
    background-color: #999;
    min-width:26px;
    display: inline-block;
  }

  .label-healthy {
    @extend .label-default;
    background-color: white;
    color:#338445;
    border: 1px solid #333;
    min-width:24px;
    display: inline-block;
  }

  .panel-heading h4 a.toggler { 
    color: #333;
  }
  .panel-heading .toggler:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114 ";    /* adjust as needed, taken from bootstrap.css */
  }

  .panel-heading .toggler.collapsed:before {
      /* symbol for "collapsed" panels */
      content: "\e080 ";    /* adjust as needed, taken from bootstrap.css */
  }

  .panel-body {
    padding: 10px 4px;
  }
  .panel-body .col-xs-12 {
    padding: 0 7px;
  }

  ul.zebra-striped li:nth-child(even) {
    background-color: #F2F2F2;
  }

  table.healthtable {
    width: 100%;
    line-height: 23px;
    text-align: center;


    td:nth-child(1) {
      width: 33%;
      color: #333;
    }

    td:nth-child(2) {
      width: 66%;

    }
    
    .johnsbox {
      border: 2px #DDD solid;
      background-color: #DDD;
    }
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

