<!-- col-lg-2x col-md-3 col-sm-4 -->

<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="panel-title text-uppercase">
        <a data-toggle="collapse" data-target="#abilities-all" class="toggler"></a>
        Abilities</h2>
  </header>
  <div id="abilities-all" class="panel-body collapse in"> <a name="abilities"></a>
    <div class="container-fluid">
      <div class="row ">
        <div class="col-xs-12" >
            <ul class="list-group zebra-striped " style="column-count:2; -webkit-column-count: 2;">
                <li class="list-group-item" ng-repeat="ability in character.abilities | orderBy:'name' | filter:{value:'!0'} "
                 > <!--   ng-class="{'list-group-item-warning': ability.favored}" -->
                    <span sa-ability-full ability="ability" ></span>
                </li>
            </ul>
        </div><!-- col -->

      </div><!-- row -->

    </div> <!-- container-fluid -->
  </div><!-- panel body -->
</article>
