<!-- col-lg-2x col-md-3 col-sm-4 -->

<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="panel-title text-uppercase">
        <a name="abilities">
            <a data-toggle="collapse" data-target="#abilities" class="glyphicon glyphicon-chevron-down"></a>
        </a>Abilities</h2>
  </header>
  <div id="abilities" class="panel-body collapse in">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-xs-12" >
            <ul class="list-group ">

                <li class="list-group-item" ng-repeat="ability in character.ability | orderBy:'name'"
                  ng-class="{'list-group-item-success': ability.favored}">
                    <span sa-ability-full ability="ability"></span>
                </li>
            </ul>
        </div><!-- col -->

      </div><!-- row -->

    </div> <!-- container-fluid -->
  </div><!-- panel body -->
</article>
