<article class="panel panel-default">
  <header class="panel-heading">
    <h2 class="panel-title text-uppercase">
      <a data-toggle="collapse" data-target="#advantages" class="toggler">
      Advantages</a> </h2> 
  </header>
  <div id="advantages" class="panel-body collapse in">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item panel-heading text-capitalize text-center" > <h4>Backgrounds</h4> </li>
            <li class="list-group-item" ng-repeat="bg in character.backgrounds.bucket">
              <span class="badge">
                <sa-motes mote-count="bg.value" mote-max="bg.value" stat-name="bg.name">
              </span>
              <span class="ability">{{bg.name}}</span>
              <span ng-repeat="detail in bg.details">
                <br>
                <span class="pull-right solar specialty" >
                  <sa-motes mote-count="detail.value" mote-max="detail.value" />
                </span>
                <div class="specialty" >{{detail.name}}</div>
              </span>
            </li>
          </ul>
        </div>

        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-group-item panel-heading text-capitalize text-center" > <h4>Charms</h4> <span class="label label-default">{{character.charms.length}}</span> </li>
            <li class="list-group-item" ng-repeat="charm in character.charms">
              <sa-charm charm="charm" ></sa-charm>
            </li>

          </ul>

        </div>

        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item panel-heading text-capitalize text-center" > <h4>Languages </h4> </li>
            <li class="list-group-item" ng-repeat="language in character.languages">
              <span class="ability">{{language}}</span>
            </li>
          </ul>
        </div>

      </div>
      <!-- row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- panel-body -->
</article>
