<article class="panel panel-default">
	<!-- Attributes panel -->
	<header class="panel-heading">
		<h2 class="panel-title text-uppercase">
			<a data-toggle="collapse"  data-target="#attributes" class="glyphicon glyphicon-chevron-down"></a>
			<a name="attributes"></a>Attributes</h2>
	</header>
	<div id="attributes" class="panel-body collapse in"><!-- Attribute Panel Body -->
		<div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="attsection in character.attribute  | unique:'section'"> 
			<ul class="list-group">
			<li class="list-group-item panel-heading text-capitalize text-center" > <h4>{{attsection}}</h4> </li>
				<li class="list-group-item" ng-repeat="attribute in character.attribute | filter:{section: attsection}"> 
					<span class="badge">
						<sa-motes mote-count="attribute.value" mote-max="attribute.max" stat-name="attribute.abr"></span>
					</span>
					<span class="stat">{{ attribute.name }}</span>
				</li>
			</ul>
		</div>
	</div><!-- Attribute Panel Body -->
</article><!-- Attributes panel -->
