<article class="panel panel-default">
	<!-- Attributes panel -->
	<header class="panel-heading">
		<h2 class="panel-title text-uppercase">
			<a data-toggle="collapse"  data-target="#status" class="glyphicon glyphicon-chevron-down"></a>
			<a name="status"></a>Status</h2>
	</header>
	<div id="status" class="panel-body collapse in"><!-- Attribute Panel Body -->
    <div class="container-fluid">
      <div class="row">
		<div class="col-xs-4"> 
			<ul class="list-group">
			<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Virtues</h4> </li>
				<li class="list-group-item" ng-repeat="virtue in character.virtues.bucket" ng-class="{'list-group-item-warning': virtue.flaw}"> 
					<span class="badge"> 
						<sa-motes mote-count="virtue.value" mote-max="5" stat-name="virtue.name"></span>
					</span>
					<span class="stat">{{ virtue.name }}</span>
				</li>
			</ul>
		</div> <!-- col -->

		<div class="col-xs-4"> 
			<ul class="list-group">
				<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Essence <span class="label label-warning" sa-motes mote-count="character.essence.value" mote-max="character.essence.value" /> </h4></li>
				<li class="list-group-item" ng-repeat="pool in character.essence.pools" > 
					<span class="badge"> 
						{{pool.currentvalue}} / {{pool.value}}
					</span>
					<span class="stat">{{ pool.name }}</span>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="pool.currentvalue" aria-valuemin="0" aria-valuemax="pool.value" style="width:60%;" ng-style="{width : ( getProgress(pool.currentvalue, pool.value) + '%' ) }" >
					    {{pool.currentvalue}}
					  </div>
					</div>
				</li>
			</ul>
		</div> <!-- col -->

      </div><!-- row -->
    </div> <!-- container-fluid -->

	</div><!-- Attribute Panel Body -->
</article><!-- Attributes panel -->
