<aside id="tracker" class="panel panel-default">
	<!-- Attributes panel -->
	<header class="panel-heading">
		<h2 class="panel-title text-uppercase">
			<a data-toggle="collapse"  data-target="#status" class="glyphicon glyphicon-chevron-down"></a>
			<a name="status"></a>TRACKER</h2>
	</header>
	<div id="status" class="panel-body collapse in"><!-- Attribute Panel Body -->
    <div class="container-fluid">
      <div class="row">
		<div class="col-xs-12"> 
			<ul class="list-group">
			<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Virtues</h4> </li>
				<li class="list-group-item" ng-repeat="virtue in character.virtues.bucket" ng-class="{'list-group-item-warning': virtue.flaw}"> 
					<sa-motes-badge mote-count="virtue.currentvalue" mote-max="virtue.value" stat-name="virtue.name"></sa-motes-badge>
					<span class="stat">{{ virtue.name }}</span>
				</li>
			</ul>
		</div> <!-- col -->

		<div class="col-xs-12"> 
			<ul class="list-group">
				<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Essence <span class="small darkblackshadow" style="color: white;" sa-motes mote-count="character.essence.value" mote-max="character.essence.value" /> </h4></li>
				<li class="list-group-item" ng-repeat="pool in character.essence.pools" > 
					<span class="badge"> 
						{{pool.currentvalue}} / {{pool.value}}
					</span>
					<span class="stat">{{ pool.name }} Pool</span>
					<div class="progress">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="pool.currentvalue" aria-valuemin="0" aria-valuemax="pool.value"  ng-style="{'width' : getProgress(pool.currentvalue, pool.value)  }" >
					  	<span ng-show="pool.currentvalue > 0"> {{ pool.currentvalue }} </span>
					  	<span ng-show="pool.currentvalue == 0" class="small"> None </span>
					  </div>
					</div>
				</li>
			</ul>
		</div> <!-- col -->

		<div class=" col-xs-12"> 
			<ul class="list-group">
				<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Willpower <br> <span class="small darkblackshadow" style="color: white;" sa-motes mote-count="character.willpower.currentvalue" mote-max="character.willpower.value" /> </h4></li>
			</ul>
		</div> <!-- col -->

	
 		<div class="col-xs-12"> 
			<ul class="list-group">
				<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Health</h4> <h4> <span class="label" ng-class="{ 'label-primary':character.health.currentHealth == 0, 'label-success': character.health.currentHealth == -1 , 'label-warning': character.health.currentHealth == -2, 'label-danger': character.health.currentHealth == -4, 'label-default': character.health.currentHealth == -10 }">{{ character.health.currentHealth }}</span></h4></li>
				<li class="list-group-item" > 
					<span class="badge"> 
						{{character.health.levels.length - character.health.damage.length}} / {{character.health.levels.length}}
					</span>
					<div><span class="label label-default">0</span> <span class="label label-danger">0</span> <span class="label label-danger">-1</span> <span class="label label-danger">-1</span> <span class="label label-warning">-1</span> <span class="label label-warning">-2</span> <span class="label label-success">-4</span> <span class="label label-success">I</span>
					</div>

				</li>
			</ul>
		</div> <!-- col -->

		<div class="col-xs-12"> 
			<ul class="list-group">
				<li class="list-group-item panel-heading text-capitalize text-center" > <h4>Limit Break <br/><span class="small darkblackshadow" style="color: white;" sa-motes mote-count="character.virtues.flaw.currentvalue" mote-max="character.virtues.flaw.value" /> </h4></li>
				<li class="list-group-item"> <b>{{character.virtues.flaw.name}}</b> : {{character.virtues.flaw.trigger}} </li>
			</ul>
		</div> <!-- col -->


     </div><!-- row -->
    </div> <!-- container-fluid -->

	</div><!--  Panel Body -->
</aside><!--  panel -->
