
   <section id="character" class="container-fluid">
      <div class="main"> <!-- CHARACTER SHEET AREA -->
        <div class="row row-offcanvas row-offcanvas-right">  
         <div class="col-xs-12 col-sm-9">
         <div class="row">
           <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas" sa-toggle-tracker>Tracker</button>
          </p>
         <div class="col-xs-3 col-sm-3 placeholders text-center"> <!-- caste block -->
            <img ng-src="{{getIcon(character.caste)}}" class="img-responsive center-block " alt="{{character.caste}}" title="{{character.caste}}">
            <h4 class="text-uppercase text-center " style="margin-top: -22px; color: #333; text-shadow: 1px 1px 3px white;">{{character.caste }}</h4>
            <span class="text-muted text-center ">{{character.anima}}</span>
          </div> <!-- caste block -->

          <div class="col-xs-6 col-sm-9 "> <!-- character info -->
           <h2>{{ character.name }}</h2>
            <dl class="dl-horizontal">
              <dt>Concept</dt>
              <dd>{{ character.concept }}</dd>
              <dt>Motivation</dt>
              <dd>{{ character.motivation }}</dd>
              <dt>Anima Banner</dt>
              <dd>{{ character.anima_banner}}</dd>
            </dl>
          </div> <!-- character info -->
        </div> <!--  class="row" -->

        <div class="row" ng-include="'views/character/attributes.html'" > </div>

        <div class="row " ng-include="'views/character/abilities.html'" ></div>

        <div class="row" ng-include="'views/character/advantages.html'" ></div>

        <div class="row " ng-include="'views/character/status.html'" > </div>
        
        </div> <!-- offcanvas main character area -->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="tracker" role="navigation" > <!-- tracker -->
          <div ng-include="'views/character/tracker.html'" ></div>
        </div> <!-- tracker -->

      </div> <!-- offcanvas ROW -->
      </div><!-- main -->
    </section>


